html
	head
		title Home
	div#main
		h1 Watch List 
			p Search By Name: 
			form(action='/handler' method='post')
				input(type='text' name="addProject")
				input(type="submit" value="Submit")
	//- script
	//- 	include ./client.js