html
	head
		title Home
	div#main
		h1 Watch List 
			p Add a project: 
			form(action='/handler' method='post')
				input(type='text' name="addProject")
				input(type="submit" value="Submit")
			p Remove a project:
			form(action='/handler' method='post')
				input(type='text' name="removeProject")
				input(type="submit" value="Submit")
			div#id
				p2 pssst here is your secret key, use this to recover your account and projects
				br
				br
				p3 #{secretKey}
			div#projectsDiv
				p Here are your projects and their respective pricing
			div#projects
				for project in projects
					p Project : #{project[0]} Price : #{project[1]}
	script(src="/socket.io/socket.io.js")

	script
		include ./client.js